<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCavilf5YG3jQa_5-r_t71DBmFXWjLwaWo</string>
	<key>GCM_SENDER_ID</key>
	<string>619871612553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fleetManagementSystem</string>
	<key>PROJECT_ID</key>
	<string>fleet-e95aa</string>
	<key>STORAGE_BUCKET</key>
	<string>fleet-e95aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619871612553:ios:debd285aa0f0fb1f5da058</string>
</dict>
</plist>